<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Edit Profile
            </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="myform"
                  (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="bmd-label-floating">Company (disabled)</label>
                    <input type="text" class="form-control"  disabled value="{{companyName}}">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    <input type="email" class="form-control" formControlName="Email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Fist Name</label>
                    <input type="text" class="form-control" formControlName="FirstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control" formControlName="LastName">
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
<!--
            <pre>{{myform.value| json}}</pre>
-->
          </div>
        </div>
        <div class="card" id="settings">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">settings</i>
            </div>
            <h4 class="card-title">Settings
            </h4>
          </div>
          <div class="card-body">

        <app-settings></app-settings>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a >
              <img src="../assets/img/faces/av_standard.jpeg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{accountType}}-{{companyName}}</h6>
            <h4 class="card-title">{{FirstNameInfo}} {{LastNameInfo}}</h4>
            <p class="card-description">
              <!--<button mat-raised-button class="btn btn-primary btn-round">Update Rules</button>-->

            </p>
            <!--<a href="#settings" class="btn btn-rose btn-round">Follow</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
